body {   
    text-align: center;
    color: white;
    background-color: rgb(4, 160, 113);
    font-family: monospace;
    text-shadow: 0.5px 1px 3px black;
}
h1 {
    margin: 0;
    margin-bottom: 3px;
    font-size: 40px;
    font-weight: 900;
}
h2 {
    margin: 0;
}
section {
    margin-top: 70px;
    min-width: 565px;
}
li {
    margin-top: 15px;
}
header {
    border-bottom: 5px solid white;
    padding-bottom: 10px;
    min-width: 565px;
}
header h1 {
    margin-bottom: 0;
}
footer {
    border-top: 5px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 70px;
    min-width: 565px;
}
footer h2 {
    margin-bottom: 0;
}
button {
    background-color: rgba(1, 66, 46, 0.5);
    border: none;
    color: white;
    text-shadow: 0.5px 1px 3px black;
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
}
button:active {
    background-color: rgba(0, 19, 13, 0.5);
}
.hf-bg {
    width: 100%;    
    min-width: 565px;
    background-color: rgb(2, 107, 76);
}
.game-card {
    width: 525px;
    height: 145px;
    line-height: 140px;
    padding-left: 40px;
    color: white;
    font-size: 30px;
    text-align: left;
    white-space: nowrap;
    box-shadow: 1px 1px 40px black inset;
    text-shadow: 0.5px 1px 7px black;
    font-family: 'Bebas Neue', monospace;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 525px;
}
li.muito-bom {
    list-style-type: "😃 ";
    font-size: 35px;
}
li.bom {
    list-style-type: "🙂 ";
    font-size: 35px;
}
li.ok {
    list-style-type: "😐 ";
    font-size: 35px;
}
li.perdemo {
    list-style-type: "😔 ";
    font-size: 35px;
}
.h1-text-background {
    background-color: rgb(2, 107, 76);
    padding: 3px 5px;
    padding-bottom: 3px;
}
.h2-text-background {
    background-color: rgb(2, 107, 76);
    padding: 2px 5px;
}
.text-background {
    background-color: rgba(0, 0, 0, 0.401);
    padding: 0 5px;
}
#hidden_futuro, #hidden_terminado {
    display: none;
}
#jogos-atuais .game-card {
    border: 3px dashed rgb(92, 243, 107);
    background-clip: padding-box;
}
#jogos-atuais ul {
    list-style: none;
}
#jogos-futuros .game-card {
    border: 3px dashed rgb(169, 169, 169);
    background-clip: padding-box;
}
#jogos-futuros ul {
    list-style: none;
}
#jogos-futuros div.display_list ul li:first-child {
    list-style: "PRÓXIMO TALVEZ ";
    font-size: 15px;
}
#jogos-terminados .game-card {
    border: 3px solid rgb(255, 255, 255);
    background-clip: padding-box;
}
@media only screen and (max-width: 600px) {
    ul, li, .container, .game-card {
        width: 400px;
        font-size: 25px;
    }
}
@media only screen and (max-width: 774px) {
    #jogos-futuros div.display_list ul li:first-child {
        list-style: "PRÓXIMO? ";
        font-size: 10px;
    }
}